<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
    <div th:replace="fragments :: main-nav"></div>

    <div class="row">
        <div class="col-2">
            <div th:replace="fragments :: main-menu(currentMenu='new-product')"></div>
        </div>

        <div class="col-md-8">
            <br />
            <br />
            <form action="#"
                  th:action="@{/upload/product}" th:object="${productUploadForm}" method="post" enctype="multipart/form-data" novalidate>
                <div class="form-group">
                    <label for="pio">상품 소개</label>
                    <input id="pio" type="text" th:field="*{pio}" class="form-control"
                           placeholder="상품 소개를 부탁합니다."  required>
                    <small id="pioHelp" class="form-text text-muted">
                        길지 않게 50자 이내로 입력하세요.
                    </small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('pio')}" th:errors="*{pio}">
                        조금 길어요.
                    </small>
                </div>

                <div class="form-group">
                    <label for="productImageFile">상품 이미지 업로드</label>
                    <input type="file" th:field="*{productImageFile}" id="productImageFile" required>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('productImageFile')}" th:errors="*{productImageFile}">
                        파일을 첨부해 주세요.
                    </small>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">등록하기</button>
                </div>
            </form>

            <!--<link href="https://cdn.jsdelivr.net/npm/froala-editor@3.1.0/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
            <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@3.1.0/js/froala_editor.pkgd.min.js"></script>

            <script>
                var editor = new FroalaEditor('#example', {
                    imageUploadURL: '/image', // 업로드 처리 end point
                    imageUploadParam: 'file', // 파일 파라메터명
                    imageUploadMethod: 'POST',
                    imageAllowedTypes: ['jpeg', 'jpg', 'png'],
                    imageMaxSize: 2 * 1024 * 1024 // 최대 이미지 사이즈 : 2메가
                })
            </script>-->
</body>

</html>