<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
    <div th:replace="fragments :: main-nav"></div>

    <br /><br />
    <div class="row">
        <div class="col-2">

        </div>

        <div class="col-md-10">

            <table class="table table-horizontal table-bordered">
                <thead class="thead-strong">
                    <tr>
                        <th>보내는 사람</th>
                        <th>메시지 내용</th>
                        <th>보낸 시각</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    <tr th:each="noti:${notiList}">
                        <td th:text="${noti.sender.nickname}"> - </td>
                        <td th:text="${noti.message}"> - </td>
                        <td> - </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <footer th:replace="fragments :: footer"></footer>
</body>
</html>