<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
    <div th:replace="fragments :: main-nav"></div>

    <div class="row">
        <div class="col-2">
            <div th:replace="fragments :: main-menu(currentMenu='bbs')"></div>
        </div>

        <div class="col-md-10">
            <br />
            <br />
            <a href="/bbs/post/save" role="button" class="btn btn-primary">글 등록</a>
            <br />
            <br />

            <table class="table table-horizontal table-bordered">
                <thead class="thead-strong">
                    <tr>
                        <th>게시글번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>최종수정일</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    <tr th:each="post:${posts}">
                        <td th:text="${post.id}"> - </td>
                        <td>
                            <a href="#" th:href="@{/bbs/update/{id} (id=${post.id})}" th:text="*{post.title}"></a>
                        </td>
                        <td th:text="${post.writer}"> - </td>
                        <td th:text="${post.modifiedDate}"> - </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <footer th:replace="fragments :: footer"></footer>
</body>
</html>